# ===== REQUIRED =====

APP_ID=my-app
IMAGE=docker.io/example/image:latest

# ===== SYSTEM =====

TZ=Asia/Kolkata

# ===== PORTS =====

CONTAINER_PORT=8080
HOST_PORT=8080

# ===== STORAGE =====

DATA_DIR=$HOME/.bizzaos/data/my-app